<body>
<!-- Start Left menu area -->
    <nav id="sidebar" class="">
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a  href="/analytics">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Analyse</span>
                        </a>
                       
                    </li>
                    <li>
                        <a   href="/all-student" aria-expanded="false"><span
                                class="educate-icon educate-student icon-wrap"></span> <span
                                class="mini-click-non">Opérateurs</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Ajouter opérateurs" href="/add-student">
                                <span class="mini-sub-pro">Ajouter opérateurs</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        
                        <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                            <li><a title="Google Map" href="/google-map"><span class="mini-sub-pro">Google Map</span></a></li>

                            <li><a title="Pdf Viewer" href="/pdf-viewer"><span class="mini-sub-pro">Pdf Viewer</span></a></li>
                        </ul>
                    </li>
                    <li>
                    
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Peity Charts" href="/static-table"><span class="mini-sub-pro">Table
                                        Statique</span></a></li>
                            <li><a title="Data Table" href="/data-table"><span class="mini-sub-pro">Tables des
                                        paiements</span></a></li>
                        </ul>
                    </li>
                    <li id="removable">
                        
                        <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                            <li><a title="Login" href="/login"><span class="mini-sub-pro">Connexion</span></a></li>
                            <li><a title="Register" href="/register"><span
                                        class="mini-sub-pro">Inscription</span></a></li>
                            <li><a title="Lock" href="/lock"><span class="mini-sub-pro">Verrouiller</span></a></li>
                            <li><a title="Password Recovery" href="/password-recovery"><span
                                        class="mini-sub-pro">Password Recovery</span></a></li>
                           </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
<div class="all-content-wrapper">
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                            class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="educate-icon educate-nav"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav">                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item">
                                                <a href="" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <img src="../../assets/img/product/pro4.jpg" alt="" />
                                                        <span class="admin-name">Pierrette</span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>Mon compte</a>
                                                    </li>
                                                    <li><a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>Mon profile</a>
                                                    </li>
                                                    <li><a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Déconnexion</a>
                                                    </li>
                                                </ul>
                                            </li>
                                         </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list single-page-breadcome">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <form role="search" class="sr-input-func">
                                            <input type="text" placeholder="search..." class="search-int form-control">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Dashboard</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <router-outlet></router-outlet>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2024 by AMELA Pierrette <a href="https:// .com/wp/templates/"> </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>